@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --secondary-background: 0deg 0% 98.04%;
    --para: 0, 0%, 42%, 1;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 265.09deg 44.35% 48.63%;
    --primary-foreground: 264.83deg 79.23% 64.12%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 93%, 1;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*--------------------- 
        Scrollbar css 
----------------------------------*/
*::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  position: absolute;
  /* display: none; */
  scrollbar-gutter: stable both-edges;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
  border: 1px solid #fff;
}

/*--------------------- 
        Scrollbar css 
----------------------------------*/


.slide_arrow_box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-gallery-thumbnail-image {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.image-gallery-icon:hover {
  color: #975bec !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border: 4px solid #975bec !important;
}

.bill_info_area input,
.bill_info_area select,
.bill_info_area textarea,
.bill_info_area button {
  border-radius: 2px !important;
}

.bill_info_area .radio_button {
  border-radius: 50% !important;
}

a {
  color: #975BEC;
}

.example {
  width: 80%;
  height: min-content;
  stroke: #333;
  padding: 4%;
  /* border: 1px solid #eaeef5; */
}

#myCheckbox {
  accent-color: #975BEC;
}


.select_box[data-state="open"] svg {
  transform: rotate(180deg);
}

.select_box svg {
  transition: transform 0.3s ease;
  /* Smooth transition for rotation */
  transform: rotate(0deg);
}

.multi_select:after {
  font-size: 20px !important;
}



/* .image-magnifier-container {
  display: flex;
  align-items: center;
  gap: 20px;
} */

.image-magnifier {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
}

.image-magnifier img {
  /* width: 100%;
  height: 100%; */
  /* display: block; */
}

.image-magnifier:hover {
  cursor: zoom-in;
}

.image-magnifier-preview {
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
}